/*Starter Pack*/
:root{
    --background-color: #222831;
    --primary-color: #393E46;
    --secondary-color: #00ADB5;
    --additional-color: #EEEEEE;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body{
    background-color: var(--background-color);
    height: 2000px;
    font-family: "Lusitana", serif;    
}

/* Start Navigation Bar */
header{
    width: 100%;
    height: 80px;
    background-color: var(--background-color);
    display: flex;
    padding: 30px;
    justify-content: space-between;
    box-shadow: 0 1px 8px 0 rgba(255, 255, 255, 0.82) ;
    color: #EEEEEE;
    position: fixed;
}

img{
    cursor: pointer;
    margin: 0 40px 0 140px;
}

header nav{
  height: 90px;
  display: flex;
justify-content: space-around;

}

#navbar1,#navbar2{
    display: flex;
    cursor: pointer;
}
ul li:hover{
    color: var(--secondary-color);
    transition: 0.3s;
}

#navbar1 li{
margin-right: 40px;
}

#navbar2{
    margin-right: 140px;
}
/* End Navigation Bar */